html {
  font-size: 10px;
  background: url(water.jpg) no-repeat fixed center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.aKey , .yellowKey {
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  /*padding: 1rem .5rem;*/
  transition: all 0.7s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.aKey {
  border: .4rem solid #0049aa;
  padding: 10px 0px 10px 0px;
}

.yellowKey {
  border: .4rem solid #e1e814;
  padding: 5px 0px 5px 0px;
}

.playing {
  transform: scale(1.1);
  border-color: #158424;
  box-shadow: 0 0 1rem #158424;
}

kbd {
  display: block;
  font-size: 50px;
}
